
    * {
        padding:0;
        margin:0;
        box-sizing:border-box; /*content in the bos gets smaller, not the box itself.*/
    }

    .home {
        background-image:url();
    }

    .about {
        background-image:url();
    }

    .tours {
        background-image:url();
    }

    .promos {
        background-image:url();
    }

    .contact {
        background-image:url();
    }

    body {
        background-color:#fff;
        font-family:Helvetica, Verdana, Geneva, Tahoma, sans-serif;   
    }

    #social {
        width:50px;
        position:fixed;
        right:5px;
        top:200px;     
    }

    #social li {
        list-style-type:none;
        margin-bottom:10px;
    }

    #wrapper {
      width:940px;
      margin:180px auto 20px auto;
    }

    header {
        padding:10px 0 0 0;
        position:fixed;
        top:0; /* for keeping stable */
        width:100%;
        background:rgba(255, 255, 255, .94);
    }

    .header-inner { /*for making header same width with wrapper */
        width:940px; 
        margin:20px auto;
    }

    #banner {
        
    }

    main {
        width:580px;
        float:left;
    }

    aside {
        /* background-color:lightblue; */
        width:340px;
        float:right;
        margin-top:29px;
    }

    .tours aside {    /*if you want to adjust propeties of other pages, use .pagename aside */
        border:1px solid lightblue;
        padding:10px;
        background:#ffc61a;
    }

    figcaption {
        background:#000;
        color:#fff;
        padding:8px;
        font-style:italic;
        font-size:.9em;
    }

    figure {
        margin-bottom:15px;
    }

    .row {
        clear:both;
        margin-bottom:20px;
        border-bottom:10px; /*for giving space from footer */
        overflow:hidden;
    }

    .third {
        width:300px;
        /* height:300px; */
        float:left;
        margin-right:20px;
        padding:0;
        text-align:center;
        background:lightblue;
    }

    .third p {
        font-size:.9em;
    }

    .tours .third {
        background:none;
        padding:0; 
    }

    .third:nth-child(3) {
        margin-right:0;
    }

    .col-8 {
        width:460px;
        float:left;
        text-align:center;
        /* height:300px; */
        /* background:pink; */
    }

    /* .col-8:nth-child */

    .col-8:last-of-type {
        float:right;
    }


    h1 {
        font-size:2.5em;
        color:#3E688C;
        margin-bottom:20px;
        font-family:"Times New Roman", Times, serif;
    }

    h2 {
        font-size:2em;
        color:#666;
        margin-bottom:10px;
        font-family:"Times New Roman", Times, serif;
    }

    h3 {
        font-size:1.5em;
        font-family:"Times New Roman", Times, serif;
    }

    h4 {
        font-size:1.25em;
        font-family:'Times New Roman', Times, serif;
    }

    p {
        margin-bottom:20px;
        line-height:1.25em;
    }

    main a {
        font-weight:bold;
    }

    aside p {
        font-size:.9em;
    }

    blockquote {
        margin-bottom:20px;
        font-size:24px;
        font-style:italic;
        font-family:"Times New Roman", Times, serif;
        border-left:20px solid orange;
        padding-left:20px;     
    }

    .third figure + p {
        margin:-5px 0 10px 0;
        font-size:.8em;
    }

    footer {
        clear:both;
        background-color:#fff;
        height:50px;
        line-height:50px;
        border-top:1px dotted #666;
        padding-left:20px;
        font-size:.9em; 
    }

    footer ul {
        float:right;
    }

    footer li {
        float:left;
        list-style-type:none;
        margin-left:30px;
        color:#666;
    }

    footer a {
        color:#666;
    }

    footer img {
        height:45px;
        margin-bottom:4px;
    }

    img {
        max-width:100%;
        display:block;
    }

    span {
        display:block; /*fall down below*/
        margin-top:4px;
        font-style:italic;
    }
    
    span a {
        color:#997300;
    }
    
    #logo {
        display:inline;
    }

    .home #primary li:nth-child(1) a, 
    .about #primary li:nth-child(2) a,
    .tours #primary li:nth-child(3) a,
    .promos #primary li:nth-child(4) a,
    .contact #primary li:nth-child(5) a {
        background-color:#B3DAF2;
        color:#000;
        text-align:center;
    }
    
    #primary {
        background-color:#3E688C;
        height:50px;
        line-height:50px;
    }

    #primary ul {
        width:1000px;
        margin:0 auto;
    }

    #primary li {
        float:left;
        list-style-type:none; /*for disappearing bullets */
        width:20%;
        text-align:center;
        position:relative;
    }

    #primary a {
        text-decoration:none; /*for disappearing link underline*/
        color:#fff;
        display:block;
    }

    #primary a:hover {
        background:#B3DAF2;
        color:#000;
        text-align:center;
    }

    .drop-down {
        display:none;
    }

    #primary li:hover .drop-down /* This is our drop-down ul */ {
        display:block;
        position:absolute;
        top:50px;
        left:0;
        background:#B3DAF2;
        width:100%;
    }

    #primary li:hover .drop-down li {
        float:none;
        width:100%;
    }

    #primary li:hover .drop-down li a {
        color:#000;
    }

    #primary li:hover .drop-down li a:hover {
        background:#3E688C;
        color:#fff;
    }

    #secondary {
        margin-bottom:15px;
    }

    #secondary li {
        list-style-type:none;
        background:#B3DAF2;;
        height:35px;/*give a space b/w listed items */
        line-height:35px;
    }

    #secondary a {
        text-decoration:none; /*for disappearing link underline*/
        color:#000;
        display:block; /*for covering all hover surface, not only text */
        padding-left:15px;
    }

    #secondary a:hover {
        background:#3E688C;
        color:white;
    }

    #offer {
        background:#fff;
        float:right;
        padding:5px;
    }

    .button {
        background:red;
        display:inline-block;
        padding:10px;
        margin-bottom:10px;
        margin-top:-10px;
        float:right;
        border-radius:5px;
    }

    .button a {
        color:#fff;
        font-style:italic;
    }




    
