/* styles for my form */
* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}
/* I will be adding padding to the body for demonstration purposes only. Remove this when you start working on your homework assignment */

body {
    padding:50px;
    background-attachment:fixed;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#wrapper {
    width:940px;
    margin:0 auto;
}

header {
    
}

main {
    border:1px solid lightblue;
    width:580px;
    float:left;
}

aside {
    width:340px;
    float:right;
    margin-left:20px;
    text-align:center;
}

form {
    max-width:580px;
}

label {
    display:block;
    margin-bottom:5px;
}

fieldset {
    padding:10px;
}

input {
    width:100%;
    height:25px;
    margin-bottom:10px;
}

input[type=submit] {
    width:auto;
    /* padding:5px; */
}

input[type=radio], 
input[type=checkbox] {
    width:auto;
    height:auto;
    margin-right:15px;
}

textarea {
    width:100%;
    height:60px;
    margin-bottom:10px;  
}

form ul {
    margin-left:15px;
}

form li {
    list-style-type:none;
}



footer {
        clear:both;
        background-color:#fff;
        height:50px;
        line-height:50px;
        border-top:1px dotted #666;
        padding-left:20px;
        font-size:.9em; 
        text-align: center;
    }

    footer ul {
        /* float:right; */
    }

    footer li {
        float:left;
        list-style-type:none;
        margin-left: 30px;
        color: #666;
    }

    footer a {
        color:#666;
    }

    footer img {
        height:45px;
        margin-bottom:4px;
    }
