* {
   padding:0;
   margin:0; 
}

body {
    font-family:"Times New Roman", helvetica, arial, sans-serif;
    background:#ddd;
}

#wrapper {
    width:940px;
    margin:20px auto;
}

header {

}

nav {

}

#banner {

}

main {

}

aside {

}

footer {
    
}