* {
   padding:0;
   margin:0; 
}

body {
    /* background:#ddd; */
    background-image:url(../images/theme3.jpg);
    background-repeat:no-repeat;
    font-family:Helvetica, Verdana, Geneva, Tahoma, sans-serif;   
}

#wrapper {
      width:940px;
      margin:20px auto;
    }

header {

}

    header img {
        /* padding:0; */
        width:1440px;
    }

    nav {
        background-color:#ddd;
        height:50px;
    }

    #banner {
        
    }

    main {
        width:580px;
        float:left;
    }

    aside {
        background-color:lightblue;
        width:340px;
        float:right;
    }

    h1 {
        font-size:2.5em;
        color:#3E688C;
        margin-bottom:20px;
    }

    h2 {
        font-size:2em;
        color:#666;
        margin-bottom:20px;
    }

    h3 {
        font-size:1.5em;
    }

    p {
        margin-bottom:20px;
        line-height:1.25em;
    }

    footer {
        background:#fff;
        height:300px;
        clear:both;
        font-size:.875em; 
        display:flex;
        flex-direction:row;
        justify-content:space-between;
    }

    footer ul {
       
    }

    footer li {
        margin-bottom:20px;
        color:#000;
        text-align:center;
        list-style-type:none;
    }

    .left {
        background:pink;
        width:280px;
        margin-right:25px;
        text-align:center;
        float:left;
    }
        
    .center {
        background:yellow;
        width:280px;
        margin-right:25px;
        text-align:center;
    }

    .right {
        background:yellow;
        width:280px;
        text-align:center;
    }

    footer a {
        color:#000;
    }

    footer img {
        height:50px;
        text-align:center;
        margin:20px auto;
    }

    img {
        max-width:100%;
        display:block;
    }
    
    #logo {
        display:inline;
        width:50px;
    }

    .home #primary li:nth-child(1) a, 
    .about #primary li:nth-child(2) a,
    .tours #primary li:nth-child(3) a,
    .promos #primary li:nth-child(4) a,
    .contact #primary li:nth-child(5) a {
        background-color:lightblue;
        color:#000;
        text-align:center;
    }

    #primary {
        background-color:#666;
        height:50px;
        line-height:50px;
    }

    #primary li {
        float:left;
        list-style-type:none; /*for disappearing bullets */
        width:20%;
        text-align:center;
    }

    #primary a {
        text-decoration:none; /*for disappearing link underline*/
        color:#fff;
        display:block;
    }

    #primary a:hover {
        background:#ccc;
        color:#000;
        text-align:center;
    }
