* {
    padding:0;
    margin:0;
}

body {
    background-color:aliceblue
}

#wrapper {
    width:940px;
    margin:20px auto;
}

header {
    background-color:yellow;
    height:80px;
    padding:10px 0 15px 0;
}

nav {
    background-color:#ddd;
    height:50px;
    line-height:50px;
}

#banner {
    background-color:red;
    height:150px;
}

main {
    width:580px;
    float:left;
    height:300px;
}

aside {
    background-color:lightblue;
    width:340px;
    float:right;
}

footer {
    background-color:#fff;
    height:50px;
    line-height:50px;
    clear:both;
    padding-left:20px;
    font-size:.875em;
    font-family:Arial, Helvetica, sans-serif;
}

footer li {
    float:right;
    list-style-type:none;
    margin-right:30px;
    color:black;
}

footer a {

}

#logo {
    display:inline;
}

#primary {
    background-color:#999;
    height:50px;
    line-height:50px;
}

#primary li {
    float:left;
    list-style-type:none;
    width:20%;
    text-align:center;
}

#primary a {
    text-decoration:none;
    color:#fff;
    display:block;
}

#primary a:hover {
    background-color:lightblue;
    color:#000;
    text-align:center;
}
